main.container {
    flex: 1;
    width: 80%;
    /* background-color: rgb(25, 38, 112); */
}

p.no-results {
    text-align: center;
    margin-top: 15px;
}

.loader-icon {
    /* margin-right: 7px; */
    /* top: 2px; */
    position: absolute;
    top: 50%;
    transform: translate(50%, 50%);
    animation: spin 1s infinite linear;
    width: 80px;
    height: 80px;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

div.box-loader {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 600px) {
    
    main.container {
        width: 60%;
    }
}

@media screen and (min-width: 768px) {
    
    main.container {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    
    main.container {
        width: 40%;
    }
}

@media screen and (min-width: 1200px) {
    
    main.container {
        width: 30%;
    }
}

@media screen and (min-width: 2560px) {
    
    main.container {
        width: 20%;
    }
}