section.result {
    background-color: rgb(22, 28, 105);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    padding: 20px 0;
    height: 340px;
}

div.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

img.avatar {
    width: 110px;
    border-radius: 50%;
    border: 4px solid rgb(68, 68, 211);
}

p.name {
    font-weight: 600;
    font-size: 1.2em;
    color: whitesmoke;
}

.location {
    color: rgb(8, 185, 185);
}

div.container > span {
    color: rgb(201, 198, 198);
    font-weight: 600;
}

div.container > a {
    background-color: rgb(82, 72, 221);
    width: 100%;
    height: 35px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    padding: 23px 0px;
}